<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

  <body class="d-flex flex-column min-vh-100">
    <%- include('../partials/admin/dash-navbar') %>
      <h2 class="p-3"><i>Dashboard</i></h2>

      <section class="container">
        <div class="d-flex align-items-center ">
          <div style="width: 1000px ;margin-left: 150px;"><canvas id="saleschart"></canvas></div>
        </div>
      </section>

      <div class="alert alert-success" role="alert">
        Download Sales Report in form of
        <button class="btn btn-danger text-decoration-none fw-bold mx-3"><a class=" text-decoration-none text-dark"
            href="/admin/sales-report/pdf" method="post">PDF</a></button>
        OR
        <button class="btn btn-success text-decoration-none fw-bold mx-3"><a class=" text-decoration-none text-dark"
            href="/admin/sales-report/excel" method="post">EXCEL</a></button>
      </div>



      <%- include('../partials/bottom-navbar')%>
        <script src="/script/chart.js"></script>
  </body>

</html>