<nav class="navbar navbar-expand-lg navbar-light bg-dark fixed-top p-3">
    <div class="container-fluid">
        <a class="brand text-white" href="/"><i>FootKart</i></a>
        <button class="navbar-toggler bg-secondary" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarContent">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            </ul>

            <ul class="navbar-nav pt-2">

                <li><a class="fs-5 fw-bold mx-3  text-white text-decoration-none " href="/">Home</a>
                <li>
                <li><a class="fs-5 fw-bold  mx-3 text-white text-decoration-none " href="/register">Sign
                        Up</a>
                </li>

            </ul>
        </div>
    </div>
</nav>