<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

  <body class="d-flex flex-column min-vh-100">
    <%- include('../partials/user/user-navbar') %>


      <!-- <h1 class="ms-auto ">Failed</h1> -->
      <div class="d-flex justify-content-center"><lottie-player class="d-flex justify-content-center"
          src="https://assets7.lottiefiles.com/packages/lf20_0ypdhsrk.json" background="transparent" speed="1"
          style="width: 300px; height: 300px;" autoplay></lottie-player></div>
      <div class="d-flex justify-content-center"><button
          class="btn btn-secondary fs-4 fw-bold  mb-5 mt-3 d-flex justify-content-center"><a
            class="text-decoration-none text-dark" href="/home">SHOP MORE</a></button></div>

      <%- include('../partials/bottom-navbar') %>
        <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>

  </body>

</html>